@import '../common/_variables.scss';

.radio-cell {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 17px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 2px solid $orange;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .radio-cell__checkmark {
        background-color: $light-grey;
    }

    /* When the radio button is checked, add a blue background */
    & input:checked ~ .radio-cell__checkmark {
        border:2px solid $orange;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    & input:checked ~ .radio-cell__checkmark:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    &__checkmark:after {
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0px;
        margin: auto;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $orange;
    }
}

.radio-only-icon {
    position: relative;
    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0;
        cursor: pointer;
    }

    & input ~ &__check {
        position: absolute;
        opacity: 0;
    }

    & input ~ &__uncheck {
        position: relative;
        opacity: 1;
    }


    & input:checked ~ &__check {
        position: relative;
        opacity: 1;
    }

    & input:checked ~ &__uncheck {
        position: absolute;
        opacity: 0;
    }
}

.radio-with-text {
	display: inline-block;

	&__label {
		color: #000;
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 15px;
		margin-bottom: 0;
	}
	
}
