@import "../common/common.scss";
@import "../common/_card.scss";
@import "../common/_variables.scss";
@import "../filter-column/index.scss";

.catalog-header {
	
	.section-title {

		&::before {
			top: 0px;
			bottom: 0px;
			margin: auto;
		}

		h3 {
			line-height: 46px;
		}
	}

	.cargo-tab {
		position: relative;
		display: inline-block;
		&::before {
			position: absolute;
			left: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 28px;
			height: 20px;
			content: url('../img/cargo-tab-icon.png');
		}
	}

	.spec-tires-tab {
		position: relative;
		display: inline-block;
		&::before {
			position: absolute;
			left: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 28px;
			height: 20px;
			content: url('../img/spec-tires-tab-icon.png');
		}
	}
}


.products-grid {
	padding-left: 20px;
	padding-top: 19px;

	@include media-breakpoint-down(sm) {
		padding-left: 15px;
	}

	.card-deck {
		position: relative;
		top: -10px;
	}

	.product-list-toolbar {
		padding-left: 25px;

		@include media-breakpoint-down(md) {
			padding-left: 15px;
		}
	}
}

.product-list-paginator {
	margin-top: 19px;
	.pagination {
		justify-content: flex-end;
		margin-bottom: 0px;

		.page-item {
			&.active {
				.page-link {
					background-color: transparent;
					color: #000;
					font-family: 'HelveticaNeueCyr-Bold';
				}
			}

			&.disabled {
				.page-link {
					color: #000!important;
				}
			}

			&:not(.active):not(.disabled) {
				.page-link {
					color: $orange;
					text-decoration: underline;
					
				}
			}

		}

		.page-link {
			border-width: 0px;
			&:focus {
				outline: none!important;
				box-shadow: none!important;
			}
		}
	}
}

.product-list-footer {
	margin-top: 30px;
	.product-list-paginator {
		margin-top: 0px;
	}
}