
@mixin regular-checkbox ($checkboxColor) {

	&[type="checkbox"] {
		position: absolute;
		left: -9999px;

		& + label {
			position: relative;
			padding-left: 25px;
			cursor: pointer;
			margin-bottom: 5px;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 22px;
				height: 22px;
				border: 2px solid $checkboxColor;
				background: transparent;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				width: 12px;
				height: 12px;
				transition: all .2s;
				background: $checkboxColor;
				margin: auto;
			}
		}
	}

	&[type="checkbox"]:not(:checked) {
		& + label {
			&:after {
				opacity: 0;
				transform: scale(0);
			}
		}
	}

	&[type="checkbox"]:checked {
		& + label {
			&:after {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}


@mixin checkbox-only-icon ($checkedIcon, $uncheckedIcon, $iconWidth, $iconHeight) {
	width: $iconWidth;
	height: $iconHeight;

	&__toggler[type="checkbox"] {
		position: absolute;
		left: -9999px;

		& + label {
			position: relative;
			cursor: pointer;
			margin-bottom: 0;
			width: $iconWidth;
			height: $iconHeight;

			&:before {
				content: url($uncheckedIcon);
				position: absolute;
				left: 0px;
				top: 0px;
				width: $iconWidth;
				height: $iconHeight;
			}

			&:after {
				content: url($checkedIcon);
				position: absolute;
				left: 0px;
				top: 0px;
				width: $iconWidth;
				height: $iconHeight;
			}
		}

		&:not(:checked) {
			& + label:after {
				opacity: 0;
				transform: scale(0);
			}
		}

		&:checked {
			& + label:after {
				opacity: 1;
				transform: scale(1);
			}

			& + label:before {
				opacity: 0;
				transform: scale(0);
			}
		}
	}
}


@mixin checkbox-only-text ($checkedText, $uncheckedText, $textWidth, $textHeight, $checkedColor, $uncheckedColor) {
	line-height: $textHeight;
	height: $textHeight;
	width: $textWidth;

	&__toggler[type="checkbox"] {
		position: absolute;
		left: -9999px;

		& + label {
			position: relative;
			cursor: pointer;
			margin-bottom: 0;
			vertical-align: middle;
			width: $textWidth;
			height: $textHeight;

			&:before {
				content: 'Выкл';
				position: absolute;
				left: 0px;
				top: 0px;
				bottom: 0px;
				margin: auto;
				color: $uncheckedColor;
			}

			&:after {
				content: 'Вкл';
				position: absolute;
				left: 0px;
				top: 0px;
				bottom: 0px;
				margin: auto;
				color: $checkedColor;
			}
		}

		&:not(:checked) {
			& + label:after {
				opacity: 0;
				transform: scale(0);
			}
		}

		&:checked {
			& + label:after {
				opacity: 1;
				transform: scale(1);
			}

			& + label:before {
				opacity: 0;
				transform: scale(0);
			}
		}
	}
}