@import '../common/_variables.scss';
@import './_mixins.scss';

.checkbox-only-icon {
	@include checkbox-only-icon($paintedStar, $unpaintedStar, $iconStarWidth, $iconStarHeight);
}


.check-cell {
	display: inline-block;
}


.regular-checkbox {
	@include regular-checkbox($orange);
}

.checkbox-with-text {
	color: #000;
	font-family: 'HelveticaNeueCyr-Roman';
	display: inline-block;
	font-size: 15px;

	&__label {
		display: inline-block;
		cursor: pointer;
		vertical-align: middle;
		margin-bottom: 0;
		max-width: 390px;
		line-height: 20px;
		word-wrap: break-word;
		word-break: break-all;
	}
}