@import '../common/_variables.scss';

.modal-header .close {
    padding: initial;
    margin: initial;
    position: absolute;
    right: 5px;
    top: 0;
    color: $orange;
    opacity: 1!important;

}

.navi-modal-header {
    justify-content: center;
    border-bottom: 0;
    padding-top: 40px;

    .modal-title {
        font-family: "HelveticaNeueCyr-Bold" !important;
        text-transform: uppercase;
        font-size: 23px;
    }
}

.navi-modal-footer {
    justify-content: center;
    border-top: 0;
    padding-bottom: 45px;
}

.navi-modal-window {
    outline: none;
    border-radius: 0;
    border: 0;
    background-clip: initial;

    .modal-body {
        padding: 1rem 50px 0 50px;
    }

    .forgot-password {
        font-family: 'HelveticaNeueCyr-Bold';
    }
}