$gray: #cdcdcd;
$btn-color: #ee7d19;

.quantity {
  position: relative;
  display: inline-block;
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 14px;

  &::after {
    content: 'шт.';
    position: absolute;
    right: 25px;
    vertical-align: middle;
    line-height: 35px;
    font-family: 'HelveticaNeueCyr-Roman';
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 85px;
  height: 35px;
  line-height: 13px;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border: 1px solid $gray;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 35px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid $gray;
  width: 23px;
  text-align: center;
  color: $btn-color;
  font-size: 18px;
  font-family: 'HelveticaNeueCyr-Heavy';
  line-height: 16px;
  vertical-align: middle;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid $gray;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 1px;
  height: 50%;
}