@mixin navi-tabs() {
	border-bottom: 0px!important;

	.nav-link {
		font-size: 15px!important;
		font-family: 'HelveticaNeueCyr-Bold'!important;
		text-transform: uppercase;
		border: 0px!important;
		color: #000;
		padding: 0.7rem 1.2rem;

		&.active {
			color: #000!important;
		}
	}

	.nav-item {
		border-bottom: 2px solid #ccc;

		&:not(:last-child) {
			margin-right: 8px;
		}

		&.active-tab {
			border-color: $orange;
			border-width: 4px;
		}
	}
}