@import "../common/_variables.scss";
@import "./_mixins.scss";

.navi-tabs {
	@include navi-tabs();

	&--not-uppercase {
		@include navi-tabs();

		.nav-link {
			text-transform: none;
			color: $grey-font2;
			padding-left: 50px;
		}
	}

	
}

.navitab-content {

}