@import "../common/common.scss";

.cart-header {
	padding-left: 23px;

	@include media-breakpoint-down(sm) {
		padding: 0;
	}

	&__common {
		text-align: right;
		line-height: 28px;
		vertical-align: middle;
		position: relative;

		@include media-breakpoint-down(xs) {
			margin-top: 35px; 
		}
	}

	&__stats {
		padding-right: 25px;
		font-size: 15px;
		font-family: 'HelveticaNeueCyr-Roman';
		color: $grey-font2;

		@include media-breakpoint-down(lg) { 
			padding-right: 0px;
		}

		@include media-breakpoint-down(xs) {
			font-size: 14px;
		}

		b {
			color: #010;
		}
	}

	&__clear-btn {
		@include media-breakpoint-down(lg) { 
			position: absolute;
			top: -35px;
			width: 160px;
			right: 15px;
		}
	}
}

.cart-notice {
	width: 100%;
	display: inline-block;
	padding: 0 23px;
	margin: 25px 0;

	@include media-breakpoint-down(sm) {
		padding: 0;
	}

	&__message {
		color: #000;
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 15px;
		position: relative;
		vertical-align: middle;
		line-height: 16px;
	    padding-left: 15px;

		&::before {
			content: url('../img/notice-icon.png');
			position: absolute;
			left: 0;
			top: -2px;
		}
	}
}


.cart-list-group {
	padding-right: 0;

	&__item {
		padding: 0;
		border-radius: 0!important;
		padding-right: 15px;
		padding-left: 15px;
		border: 1px solid $border-grey;
	}

	&__item + &__item {
		margin-top: 25px;
	}
}


.cart-item {

	&__picture {
		position: relative;
	    min-height: 118px;

	    @include media-breakpoint-down(md) { 
	    	min-height: 158px;
    	}

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}


	&__info {
		background-color: $light-grey;
		padding: 25px;
	}

	&__top {
		position: relative;
		width: 100%;
	}

	&__name {
		max-width: 750px;
		float: left;

		@media (max-width: $navi-orig-size) {
			max-width: 600px;	
		}

		@include media-breakpoint-down(lg) {
			max-width: 400px;	
		}

		@include media-breakpoint-down(sm) { 
			max-width: 350px;
		}
	}

	&__title {
		font-family: 'HelveticaNeueCyr-Bold';
		font-size: 18px;
		display: inline-block;
		margin-bottom: 0;
		padding-right: 10px;
		line-height: 30px;
		vertical-align: middle;
		text-align: left;
		word-break: break-all;
		word-wrap: break-word;

		@include media-breakpoint-down(sm) { 
			padding-right: 0;
		}
	}

	&__params {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 18px;
		line-height: 30px;
		vertical-align: middle;
		text-align: left;
	}

	&__delete {
		float: right;
		height: 30px;
		
		@include media-breakpoint-down(xs) {
			position: absolute;
			top: -60px;
			right: -20px;
		}
	}

	&__middle {
		width: 100%;
		position: relative;
		clear: both;
		display: inline-block;
		margin-top: 8px;
	}

	&__season {
		display: inline-block;
		float: left;
		width: 115px;
		font-size: 12px;
		line-height: 17px;
		font-family: 'HelveticaNeueCyr-Roman';

		b {
			color: $orange;
		}
	}

	&__counter {
		margin-right: 40px;
	}

	&__price {
		font-size: 22px;
		font-family: 'HelveticaNeueCyr-Bold';
		float: right;
	}

	&__right-col {
		float: right;
	}

	&__note {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 14px;
	}

	&__delivery-note {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 14px;
		float: right;

		b {
			color: $orange;
		}
	}
}


.order-form {
	margin-top: 50px;
	padding-left: 23px;

	@include media-breakpoint-down(md) {
		padding-left: 0;
	}

	&__field {
		width: 100%;

		select {
			width: 100%;
		}

		.select2-container {
			width: 100%!important;
		}

		& + & {
			margin-top: 40px;

			@include media-breakpoint-down(md) {
				margin-top: 20px;
			}
		}
	}


	&__label {
		display: block;
		width: 100%;
		font-family: 'HelveticaNeueCyr-Black';
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 2px;
	}

	&__right {
		display: flex;
		flex-flow: column;

		@include media-breakpoint-down(md) {
			margin-top: 40px;
		}
	}

	&__sub-top {
		flex: 0 1 90px;

		@include media-breakpoint-down(xs) {
			flex-basis: 200px;
		}
	}

	&__sub-content {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column;

		& .navi-textarea {
			flex: 1;

			@include media-breakpoint-down(md) {
				flex-basis: 150px;
			}
		}
	}


	&__customer-type {


		.radio-with-text {
			line-height: 40px;

			&__label {
				color: #000;
				font-family: 'HelveticaNeueCyr-Roman';
				font-size: 15px;
			}
			

			& + & {
				margin-left: 25px;

				@media (max-width: $navi-orig-size) { 
					margin-left: 0;
				}
			}
		}
	}


	&__note {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 11.58px;
		color: $grey-font2;
		line-height: 13px;
		padding-left: 23px;
		margin-top: 40px;
		margin-bottom: 25px;
	}

}


.order-footer {
	margin-bottom: 80px;

	&__left {
		line-height: 40px;
		vertical-align: middle;
	}


	&__right {
		line-height: 40px;
		vertical-align: middle;
		text-align: right;

		@include media-breakpoint-down(xs) {
			margin-top: 20px;
		}
	}

	.checkbox-with-text__label {
		@include media-breakpoint-down(xs) {
			max-width: 230px;
		}
	}

	&__total {
		font-family: 'HelveticaNeueCyr-Bold';
		font-size: 18px;
		padding-right: 20px
	}
}