@import "../common/common.scss";
@import "../common/_card.scss";
@import "slick-carousel/slick/slick.scss";
@import "../common/_variables.scss";


.products-list {

	.card-deck {
		margin-left: -10px!important;
		margin-right: -10px!important;
	}
}

.news-header,
.sales-header,
.novelty-header {
	margin-top: 60px;
	padding-left: 23px;

	@include media-breakpoint-down(sm) {
		padding: 0;
	}

	@include media-breakpoint-down(xs) {
		margin-left: -10px!important;
		margin-right: -10px!important; 
	}
}

.news-header {
	margin-top: 50px!important;
}

.news-slider {
	margin-top: 25px;

	&__prev {
		content: url($newsArrowPrev);
		width: 20px;
		height: 37px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		z-index: 3;

		@include media-breakpoint-down(xs) {
			left: -35px;
		}

		&--active {
			content: url($newsArrowPrevActive);
		}
	}

	&__next {
		content: url($newsArrowNext);
		width: 20px;
		height: 37px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		z-index: 3;

		@include media-breakpoint-down(xs) {
			right: -35px;
		}

		&--active {
			content: url($newsArrowNextActive);
		}
	}
}

.news-item {
	color: #fff;
	padding-left: 55px;
    padding-right: 45px;

    @include media-breakpoint-down(xs) { 
    	padding-left: 0px;
    	padding-right: 0px;
    }

	&__date {
		color: $orange;
		font-size: 14px;
		font-family: 'HelveticaNeueCyr-Bold';
	}

	&__title {
		font-size: 16px;
		font-family: 'HelveticaNeueCyr-Bold';
		padding-left: 22px;
		text-transform: uppercase;
		margin: 10px 0;
	}

	&__body {
		font-size: 14px;
		font-family: 'HelveticaNeueCyr-Roman';
		line-height: 1.1rem;
	}
}


.news-header {

	.section-title {
		color: #fff;
	}
}

.sales-more,
.novelty-more {
	margin-top: 25px;
	font-family: 'HelveticaNeueCyr-Bold';
	font-size: 15px;
}

.news-section {
	
    width: 100%;
    padding-bottom: 23%;
    background-color: #0c090a;
    position: relative;
    margin-top: 30px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
		height: 350px;	
	}


	@include media-breakpoint-down(xs) {
		height: 440px;	
	}

    &__background {
    	background-image: url('../img/news-backgound.png');
    	position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		max-width: 1920px;
		background-position: bottom;

		@include media-breakpoint-down(lg) {
			background-color: #0c090a;
			background-image: none;	
		}
    }
}


.gray-form {
	background-color: $light-grey;
	margin-top: 15px;
}

.tires-selection {
	overflow: hidden;
	display: flex;


	&__picture {
		background: url('../img/tires-selection.png') no-repeat;
		flex-basis: 401px;
		background-size: contain;

		@include media-breakpoint-down(lg) {
			flex-basis: 300px;
		}

		@include media-breakpoint-down(md) {
			flex-basis: 0;
		}
	}

	&__keeper {
		flex: 1;
		padding-right: 25px;
		margin-left: 40px;

		@include media-breakpoint-down(md) {
			padding-right: 40px;
		}
	}

	&__field {
		margin-top: 15px;

		& > select {
			width: 100%;
		}

		& .select2-container {
			width: 100%!important;
		}

		&--halfed {
			margin-top: 15px;
			.select2-container {
				width: calc(50% - 15px)!important;
			}

			.slash {
				width: 20px;
				display: inline-block;
				text-align: center;
			}
		}
	}

	&__label {
		font-size: 14px;
		font-family: 'HelveticaNeueCyr-Roman';
		width: 100%;
		margin-bottom: 6px!important;
	}

	&__second-row {
		margin-top: 5px;
		padding-bottom: 30px;
	}

	&__endcell {
		position: relative;
		margin-top: 45px;



		.assort-btn {
			right: 32px;

			@media (max-width: $navi-orig-size) {
				right: 0;
				width: 100%;
			}
		}

		
	}

	&__accept {
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 15px;
		padding-left: 15px;

		@media (max-width: $navi-orig-size) {
			flex: 0 0 100%;
			max-width: 100%;
		}

	}

	&__existence-check-cell {
		position: relative;
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 15px;
		padding-left: 15px;

		@media (max-width: $navi-orig-size) {
			flex: 0 0 100%;
			max-width: 100%;
			top: -25px;
		}


		.checkbox-with-text {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 22px;	
		}
	}
}


