@import "../common/_variables.scss";
@import "~jquery.scrollbar/sass/jquery.scrollbar.scss";

.filter-column {
	margin-top: 28px;

	.list-group {
		background-color: $light-grey;
		.list-group-item {
			padding: 0;
			border-bottom: 0px;
			background-color: transparent;

			.btn {
				padding: 20px 20px;
				box-shadow: none !important;
				outline: 0;
				width: 100%;
				text-align: left;
				font-size: 14px;
				color: #000;
				text-transform: uppercase;
				font-family: 'HelveticaNeueCyr-Bold';
			}

			span {
				border: solid #222;
				border-width: 0 1px 1px 0;
				display: inline;
				cursor: pointer;
				padding: 3px;
				position: absolute;
				right: 0;
				margin-top: 8px;
			}

			a.btn.collapsed span {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transition: .3s transform ease-in-out;
			}

			a.btn span {
				transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				transition: .3s transform ease-in-out;
			}

			.filter-group-content {
				width: 100%;
				padding: 5px 20px 15px 20px;
				transition: .3s all ease-in-out;

				.filter-props-list {
					width: 100%;
					max-height: 210px;
					overflow-y: auto;
					overflow-x: hidden;
					padding-left: 8px;

					&::-webkit-scrollbar {
						display: none;
					}
				}

				.checkbox-with-text {
					display: block;
					padding: 4px 0;

					.regular-checkbox[type="checkbox"] + label:before {
						background: #fff;
						border: 2px solid $border-grey;
					}
				}
			}
		}
	}

	&__apply-button {
		text-align: center;
		padding: 25px 0!important;
	}
}

.scroll-element_outer {
	border-radius: initial!important;
	.scroll-element_track {
		background-color: $border-grey!important;
		opacity: 1!important;
		border-radius: initial!important;
	}

	.scroll-bar {
		background-color: $orange!important;
		opacity: 1!important;
		border-radius: initial!important;
	}
}