@import '../common/_variables.scss';

.navi-textarea {
	border: 1px solid $border-grey;
	width: 100%;
	font-family: 'HelveticaNeueCyr-Roman';
	font-size: 15px;
	color: $grey-font2;
	padding: 5px 15px;
}