@import '../common/_variables.scss';

.navi-text-input {
	border: 1px solid $border-grey;
	width: 100%;
	font-family: 'HelveticaNeueCyr-Roman';
	font-size: 15px;
	color: $grey-font2;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}