@mixin regular-button () {
	border: 0;
	cursor: pointer;
	letter-spacing: 0.05em;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 38px;
	height: 38px;
	white-space: nowrap;

	&:hover {
		box-shadow: 2px 2px 22px #aaa;

		label {
			box-shadow: 2px 8px 20px #555;
		}
	}

	label {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #fff;
		//color: $primaryGreen;
		border-radius: 50%;
		padding: 4px 5px;
		line-height: 22px!important;
		width: 30px;
	}
}

@mixin rounded-button () {
	text-transform: uppercase;
	border-radius: 30px;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 0.05em;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 38px;
	height: 38px;
	white-space: nowrap;

	&:hover {
		box-shadow: 2px 2px 22px #aaa;

		label {
			box-shadow: 2px 8px 20px #555;
		}
	}

	label {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #fff;
		//color: $primaryGreen;
		border-radius: 50%;
		padding: 4px 5px;
		line-height: 22px!important;
		width: 30px;
	}
}

@mixin icon-text-button ($beforeIcon, $iconWidth, $iconHeight, $textColor) {
	border: 0;
	background-color: transparent;
	padding: 0;
	padding-left: 2px;
	position: relative;
	color: $textColor;
	cursor: pointer;
	margin-left: $iconWidth;

	&:hover {
		text-decoration: underline;
	}

	&::before {
		content: '';
		background-image: url($beforeIcon);
		position: absolute;
		width: $iconWidth;
		height: $iconHeight;
		left: -$iconWidth;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

@mixin text-button ($textColor) {
	border: 0;
	background-color: transparent;
	padding: 0;
	position: relative;
	color: $textColor;
	cursor: pointer;
	text-decoration: underline;
}

@mixin upper-text-button ($textColor) {
	@include regular-button();
	text-transform: uppercase;
}