@import '../common/_variables.scss';
@import './_mixins.scss';

button {
	outline: none!important;
}

.regular-button {
	@include regular-button();
	background-color: $orange;
	color: #fff;
	position: relative;
	line-height: 40px;
	height: 40px;
	font-family: 'HelveticaNeueCyr-Bold';
	font-size: 15px;


	&--rounded {
		@include rounded-button();
		background-color: $orange;
		color: #fff;
		position: relative;
	}

	&--rounded-transparent {
		@include rounded-button();
		background-color: transparent;
		color: $orange;
		border: 1px solid $orange;
		line-height: 36px;

		&:hover {
			background-color: $orange;
			color: #fff;
		}
	}

	&--as-text {
		@include text-button($orange); 
	}

	&--as-upper-text {
		@include upper-text-button($orange);
		background-color: $orange;
		color: #fff;
		position: relative;
		line-height: 40px;
		height: 40px;
		font-family: 'HelveticaNeueCyr-Bold';
		font-size: 15px;
	}

	&--icon-text {
		// Подразумевает использование в более специфичном классе, в котором будут определены иконки и изображение
		//@include icon-text-button($clearIcon, $clearIconWidth, $clearIconHeight, #fff);
	}

	&--as-icon {

	}
}