@import "./_variables.scss";
@import "./mixins.scss";

.navi-card {

	@include card-common();

	@include media-breakpoint-only(md) { 
		max-width: 230px;
		min-width: 168px;
	}

	@include media-breakpoint-down(md) {
		max-width: 213.33px;
	}

	@include media-breakpoint-down(sm) {
		min-width: 213.33px;
		max-width: 240px;	
	}

	@include media-breakpoint-down(xs) {
		min-width: 240px;
		max-width: initial;
		margin-right: 0px!important;
		margin-left: 0px!important;
	}

	&__quantity {

		@media (min-width: 960px) and (max-width: $navi-orig-size) { 
			width: 100%;
			margin-bottom: 10px;
		}

		& input {
			@media (min-width: 960px) and (max-width: $navi-orig-size) { 
				width: 100%!important;
			}
		}
		
	}
	
	&__add-to-cart {
		@media (min-width: 960px) and (max-width: $navi-orig-size) { 
			width: 100%;
			margin-top: 10px;
		}
	}
}

.navi-filterable-card {
	@include card-common();


	@include media-breakpoint-up(md) { 
		max-width: 216px;
		min-width: 200px;
	}

	@media (min-width: 1200px) and (max-width: $navi-orig-size) {
		max-width: 189px;
		min-width: 189px;
	}

	@include media-breakpoint-only(md) { 
		max-width: 230px;
		min-width: 168px;
	}

	@include media-breakpoint-down(md) {
		max-width: 213.33px;
	}

	@include media-breakpoint-down(sm) {
		min-width: 213.33px;
		max-width: 240px;	
	}

	@include media-breakpoint-down(xs) {
		min-width: 240px;
		max-width: initial;
		margin-right: 0px!important;
		margin-left: 0px!important;
	}
}