@import "./_variables.scss";

.navi-footer {
	background-color: #000;
	height: 140px;
	width: 100%;
	background-image: url('../img/footer-back.png');
	overflow: hidden;

	&--black {
		background-color: #000;
		height: 140px;
		width: 100%;
		background-image: none;
		overflow: hidden;

		@include footer-content();
	}

	@include footer-content();
}


.footer-link {
	display: inline-block;
	min-width: 110px;
}

.footer-info {
	margin-top: 45px;

	@include media-breakpoint-down(lg) { 
		margin-top: 20px;
	}

	.phone-number {
		color: #fff!important;
		font-family: 'HelveticaNeueCyr-Bold';
		display: inline-block;
		position: relative;

		

		&::before {
			content: url('../img/phone-icon.png');
			position: absolute;
			left: -28px;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}

	.navi-copyright {
		color: #fff!important;
		text-align: right;
		font-family: 'HelveticaNeueCyr-Roman';

		@include media-breakpoint-down(xs) {
			text-align: left;
		}
	}
}