@import "./_variables.scss";

.navi-header {
	width: 100%;
	padding-bottom: 20.7%;
	background-color: #0c090a;
	position: relative;

	&__background {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		max-width: 1920px;
		background-image: url('../img/header-background-cargo.png');
		background-position: bottom;
		overflow: visible;

		@include media-breakpoint-down(md) {
			top: 56px;
		}
	}

	&__top-row {
		padding-top: 48px!important;
		overflow: visible;

		@media (max-width: $navi-orig-size) {
			padding-top: 20px!important;
		}
	}

	.city-cell {
		float: right;
    	margin-right: 20px;
    	@include media-breakpoint-down(lg) { 
			float: left;
			margin-left: 21px;
			margin-top: 10px;
		}
	}

	.phone-cell {
		text-align: center;
		width: 16%;
	}

	.cart-cell {
		text-align: right;
		width: 15%;
	}

	.search-cell {
		padding: 0 35px;
		width: 30%;
		@include media-breakpoint-down(lg) { 
			width: 39%;
		}
	}

	&__city {
		margin-top: -6px;
		display: inline-block;
	    text-align: left;
	    position: relative;

		&::before {
			content: url('../img/city-marker.png');
			position: absolute;
			left: -30px;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 21px;

			@include media-breakpoint-down(lg) { 
				left: -23px;
			}
		}
	}

	&__search {
		width: 100%;
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		border: 1px solid $border-grey;
		background-color: transparent;
		outline: none!important;
		position: relative;
		background: url('../img/search-icon.png') no-repeat 12px 12px;
		padding-left: 30px;
		color: $border-grey;
		font-size: 15px;
		font-family: 'HelveticaNeueCyr-Roman';
	}

	&__phone {
		margin-top: -6px;
		display: inline-block;
	    text-align: left;
	    position: relative;

		&::before {
			content: url('../img/phone-icon.png');
			position: absolute;
			left: -28px;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}

	&__cart {
		margin-top: -6px;
		display: inline-block;
	    text-align: left;
	    position: relative;

		&::before {
			content: url('../img/cart-icon.png');
			position: absolute;
			left: -30px;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 18px;
		}
	}

	&__city-dropdown {

		& > .dropdown-toggle {
			padding: 0;
			background-color: transparent!important;
			border: 0;
			position: relative;
			border-bottom: 1px solid;
			border-radius: 0;
			font-size: 16px;
			font-family: 'HelveticaNeueCyr-Roman';
			top: -7px;

			&::after {
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				right: -15px;
			}

			&:focus {
				border:0;
				box-shadow: none!important;
			}
		}
	}

	&__city-label,
	&__phone-label,
	&__cart-label {
		color: $orange!important;
		font-size: 12px;
	}

	&__phone-number {
		font-family: 'HelveticaNeueCyr-Roman';
		color: #fff;
		font-size: 16px;
		position: relative;
		top: -4px;
	}

	&__cart-total {
		font-family: 'HelveticaNeueCyr-Bold';
		color: #fff;
		font-size: 16px;
		position: relative;
		top: -4px;
		text-decoration: underline;
	}


	&__slogan {
    	vertical-align: middle;
    	padding-left: 40px;

    	@include media-breakpoint-only(lg) { 
			margin-top: -55px;
			padding-left: 0px;
			text-align: center;
		}


		& h2 {
			font-family: 'HelveticaNeueCyr-UltraLight';
			font-size: 46px;
			color: #fff;
			margin-bottom: 0;

			@include media-breakpoint-down(xs) { 
				font-size: 25px;	
			}
		}

		& b {
			font-family: 'HelveticaNeueCyr-Roman';
			font-size: 28px;
			color: #fff;
			position: relative;
			top: -10px;

			@include media-breakpoint-down(xs) { 
				font-size: 23px;	
			}
		}
		
	}


	&__middle-row {
	    height: calc(100% - 93px);
	    display: table;
	    position: relative;
	}

	&__middle-cell {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}

	&__user-section {
	   	padding-left: 40px;

	   	@include media-breakpoint-down(lg) { 
			position: absolute;
			right: 0;
			top: -45px;		
		}
	}

	&--compact {
		width: 100%;
		padding-bottom: 5.3%;
		background-color: #0c090a;
		position: relative;

		.navi-header__middle-row {
			display: none;
		}

		&__background {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			background-size: 100% auto;
			background-repeat: no-repeat;
			max-width: 1920px;
			background-image: url('../img/header-background--compact.png');
			background-position: bottom;
			overflow: hidden;

			@include media-breakpoint-down(md) {
				top: 56px;
			}
		}


		&__top-row {
			padding-top: 20px!important;
			overflow: visible;

			@media (max-width: $navi-orig-size) {
				padding-top: 12px!important;
			}

			@include media-breakpoint-only(lg) {
				padding-top: 10px!important;
			}

			@media (min-width: 1700px) {
				padding-top: 30px!important;
			}
		}

		.navi-logo {
			flex: 0 0 29%!important;
			max-width: 29%!important;

			@include media-breakpoint-up(xl) {
				flex: 0 0 23%!important;
				max-width: 23%!important;
			}
		}

		.city-cell {
			text-align: right;
		}

		.phone-cell {
			text-align: center;
			flex: 0 0 20%;
			max-width: 20%;
		}

		.user-cell {
			text-align: right;
			flex: 0 0 33%;
			max-width: 33%;

			@include media-breakpoint-up(xl) {
				flex: 0 0 39%;
				max-width: 39%;
			}
		}

		.cart-cell {
			text-align: right;
			flex: 0 0 18%;
			max-width: 18%;
		}

	}
}

.navi-logo {
	padding-left: 0;
	width: 39%;

	& img {
		float: left;
	}

	&__text {
		float: left;
	    margin-top: 6px;
    	margin-left: 10px;
    	line-height: 15px;
		font-size: 14px;
		text-transform: uppercase;
		font-family: 'HelveticaNeueCyr-Light';

		span {
			color: #fff;
		}
	}

	&__orange-text {
		color: $orange!important;
	}

	@include media-breakpoint-down(lg) { 
		width: 30%;	
	}
}

.user-section {

	&--auth {
		
		.user-section__signin {
			display: none;
		}

		.user-section__signup {
			display: none;
		}
	}

	&--unauth {
		.user-section__faves {
			display: none;
		}

		.user-section__authed-user {
			display: none;
		}
	}

	&__signin {
		color: #fff;
		padding: 9px 25px;
		border: 1px solid $orange;
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 14px;
		cursor: pointer;
		display: inline-block;

		&:hover {
			transition: all 0.5s ease-in;
			background-color: #fff;
			color: #000;
			border: 1px solid #fff;
		}
	}

	&__signup {
		display: inline-block;
		margin-left: 25px;
		line-height: 20px;

		a {
			color: #fff!important;
			text-decoration: none!important;
		}

		border-bottom: 1px solid #fff;
	}

	&__faves {
		display: inline-block;
		line-height: 20px;
		position: relative;

		&:before {
			position: absolute;
			left: -30px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: $iconStarWidth;
			height: $iconStarHeight;
			content: url($paintedStar);
		}

		a {
			color: #fff!important;
			text-decoration: none!important;
		}

		border-bottom: 1px solid #fff;
	}

	&__authed-user {
		color: #fff;
		padding: 9px 25px 9px 40px;
		margin-left: 25px;
		border: 1px solid $orange;
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 14px;
		cursor: pointer;
		display: inline-block;
		position: relative;

		&:before {
			position: absolute;
			left: 13px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: $iconUserW;
			height: $iconUserH;
			content: url($userIcon);
		}

		@include media-breakpoint-down(lg) { 
			margin-left: 0px;
		}

		&:hover {
			transition: all 0.5s ease-in;
			background-color: #fff;
			color: #000;
			border: 1px solid #fff;
		}
	}
}