@import "./_variables.scss";

.navi-navbar{
	height: 42px;
	background-color: $orange;
	position: absolute;
	width: 100%;
	bottom: -42px;
	font-size: 14px;

	@include media-breakpoint-down(md) { 
		bottom: initial;
		top: 0px;
		height: initial;
		background-color: $light-grey;
		height: 56px;
		position: fixed;
		z-index: 999;

		.navbar-toggler {
			background-color: $orange;
			z-index: 1000;
		}

		.navbar-collapse {
			top: 56px;
		    position: fixed;
		    left: -250px;
		    height: calc(100vh - 56px);
		    z-index: 999;
		    transition: left 0.3s;
			width: 250px;
			overflow: auto;

			&__addition {
				height: 100%;
				left: -250px;
				width: 250px;
				background-color: $orange;
				overflow: hidden;
			}

			.navbar-nav {
				position: absolute;
				width: 250px;
				background-color: $orange;

				&.row {
					padding: 0;
				}

			}

			&.show {
				left: 0;
				width: 100%;
			}
		}

		
	}

	a.nav-item {
		text-align: center;
		font-family: 'HelveticaNeueCyr-Bold';
		color: #fff!important;
		border-left: 1px solid $menu-separator;
		height: 42px;
		line-height: 25px;

		&:not(.active) {
			& .active-icon {
				display: none;
			}
		}

		&.active {
			color: #000!important;
			background-color: #fff;

			& .inactive-icon {
				display: none;
			}

			& .active-icon {
				display: inline-block;
			}
		}

		@include media-breakpoint-down(lg) { 
			padding-top: 0;
			padding-bottom: 0;
		}

		@include media-breakpoint-down(md) { 
			text-align: left;
			border-left: 0px;
			flex-basis: 42px;
			flex-grow: 0;
			line-height: 42px;
			padding-left: 20px;

			span {
				span {
					vertical-align: middle;
				}
			}

			&:last-child {
				border-right: 0px!important;
			}
		}

		&:nth-last-child(2) {
			@include media-breakpoint-only(lg) { 
				img {
					bottom: 5px;
				}
			}

			@media (max-width: $navi-orig-size) {
				img {
					bottom: 5px;
				}
			}
		}

		&:last-child {
			border-right: 1px solid $menu-separator;

			@include media-breakpoint-only(lg) { 
				font-size: 12px;

				img {
					bottom: 5px;
				}
			}

			@media (max-width: $navi-orig-size) {
				font-size: 12px;

				img {
					bottom: 5px;
				}
			}

			@include media-breakpoint-down(md) { 
				font-size: 14px;
			}
		}


		span {
			img {
				margin-top: -4px;

				@include media-breakpoint-down(lg) { 
					position: absolute;
					bottom: 1px;
					left: 0;
					right: 0;
					margin: 0 auto;
				}

				@include media-breakpoint-down(md) { 
					position: relative;
					bottom: 0px!important;
				}
			}
		}
	}


	&__user-section {
		height: 42px;
		border-top: 1px solid $menu-separator;
		border-bottom: 1px solid $menu-separator;
		color: #fff;
		cursor: pointer;
	}

	&__signin {
		width: calc(50% - 4px);
		display: inline-block;
		text-align: center;
		border-right: 1px solid $menu-separator;
		height: 40px;
		line-height: 37px;
		text-decoration: none!important;
		color: #fff!important;
	}

	&__signup {
		text-align: center;
		display: inline-block;
		width: 50%;
		height: 40px;
		line-height: 37px;
		text-decoration: none!important;
		color: #fff!important;
	}
}

.sidebar-overlay {
  	display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* transparent black */
    background: rgba(0, 0, 0, 0.5);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    top: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

.sidebar-overlay.active {
    display: block;
    opacity: 1;
}


.collapsing {
	position: relative;
	overflow: hidden;
	width: 0px;
	transition: width 0.35s ease;
}