@import "~bootstrap/scss/bootstrap";
@import "./mixins.scss";
@import "./_header.scss";
@import "./_navbar.scss";
@import "./_footer.scss";
@import "./_variables.scss";
@import "../buttons/button.scss";
@import "../text-input/text-input.scss";
@import "../checkboxes/checkboxes.scss";
@import "../radios/radios.scss";
@import "../text-input/textarea.scss";
@import "../selectbox/select.scss";
@import "../tabs/tabs.scss";
@import "../modal/modal.scss";

html, body {
	height: 100%;
	position: relative;
}

.page-container {

	min-height: 100%;
	margin-bottom: -140px;

	@include media-breakpoint-down(xs) { 
		margin-bottom: -220px;	
	}

	&::after {
		content: "";
		display: block;
		height: 140px;

		@include media-breakpoint-down(xs) { 
			height: 220px;	
		}
	}

	&__layout {
		height: 100%;
		position: relative;
		padding-bottom: 40px;
	}

	&__content {
		margin-top: 75px!important;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.page-centerer {
	width: 1280px;
	padding: 0 20px;
	margin: 0 auto;

	@include media-breakpoint-up(lg) {
		width: 1280px;	
	}

	@media (max-width: $navi-orig-size) {
		width: 1140px;
	}

	@include media-breakpoint-down(lg) { 
		width: 960px;	
	}

	@include media-breakpoint-down(md) { 
		width: 720px;	
	}

	@include media-breakpoint-down(sm) { 
		width: 540px;	
	}

	@include media-breakpoint-down(xs) { 
		width: 280px;
		padding: 0 5px;	
	}

}

.unscrollable {
	overflow: hidden;
}

.col--center {
	text-align: center;
}

.breadcrumb {
	background-color: transparent;
	padding: 0 23px;

	@include media-breakpoint-down(sm) { 
		padding: 0;	
	}

	@include media-breakpoint-down(xs) { 
		padding: 0;
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}

.breadcrumb-item {
	color: $grey-font;
	font-size: 15px;

	& a {
		color: $orange;
		text-decoration: underline;
	}
}

.section-title {
	position: relative;
	h3 {
		font-size: 25px;
		font-family: 'HelveticaNeueCyr-Black';
		text-transform: uppercase;
		margin-bottom: 0;
		vertical-align: middle;
		line-height: 35px;
		padding-left: 40px;
	}
	

	&::before {
		content: url('../img/title-logo.png');
		position: absolute;
		width: 31px;
		height: 35px;
	}
}

.product-list-toolbar {


	&__display-chooser {
		list-style: none;
		padding-left: 0px;
		display: table;
		margin-top: 25px;
		margin-bottom: 15px;
		float: left;

		li {
			display: table-cell;
			cursor: pointer;

			& + li {
				padding-left: 10px;
			}
		}

		.tiles {
			width: 17px;
			height: 17px;
			background: url('../img/tiles.png') no-repeat;
			background-position: center;
		}

		.catalog {
			width: 17px;
			height: 17px;
			background: url('../img/catalog.png') no-repeat;
			background-position: center;
		}

		.table {
			width: 17px;
			height: 15px;
			background: url('../img/table.png') no-repeat;
			background-position: center;
		}
	}

	&__dropdown {
		float: left;
		margin-top: 22px;
		margin-left: 20px;

		@include media-breakpoint-down(xs) {
			&.grid-sort {
				margin-top: 0px;
				margin-left: 0px;
			}
		}

		.dropdown {
			display: inline-block;

			.dropdown-toggle {
				background-color: transparent!important;
				color: $orange!important;
				border: 0;
				border-radius: 0;
				font-size: 16px;
				font-family: 'HelveticaNeueCyr-Roman';
				text-decoration: underline;
				padding-left: 3px;

				&:focus {
					border:0;
					box-shadow: none!important;
				}
			}
		}

		&:not(.grid-sort) {
			.dropdown {
				.dropdown-menu {
					@include media-breakpoint-down(xs) { 
						left: -114%!important;	
					}
				}
			}
		}
	}
}
