@mixin footer-content() {
	@include media-breakpoint-down(xs) { 
		height: 220px;	
	}

	.footer-menu {
		padding-top: 30px;

		@include media-breakpoint-down(xs) {
			padding-top: 20px;
		}

		& a {
			color: #fff;
			text-decoration: underline;
			font-size: 14px;
			font-family: 'HelveticaNeueCyr-Roman';
		}
	}
}


@mixin card-common() {

	&--discounted {

		.navi-card__price {
			text-decoration: line-through;
			color: $dark-grey2;
		}

		.navi-card__discounted-price {
			background-color: $navi-red;
			color: #fff;
			font-size: 22px;
			font-family: 'HelveticaNeueCyr-Bold';
			display: inline-block;
			padding: 0 15px;
			position: absolute;
			bottom: 0;
			left: 0;
			margin-bottom: 0;
		}
	}

	border-radius: 0px;
	margin-right: 10px!important;
	margin-left: 10px!important;
	margin-top: 20px;


	.card-img-top {
		text-align: center;
		padding: 40px 0;
		position: relative;
	}

	&__is-fave {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.card-body {
		background-color: $light-grey;
		padding: 15px 13px;
	}

	&__name {
		font-family: 'HelveticaNeueCyr-Bold';
		font-size: 14px;
		margin-bottom: 0px;
	}

	&__params {
		font-family: 'HelveticaNeueCyr-Roman';
		font-size: 14px;
		margin-bottom: 0px;
	}

	&__middle-section {

	}

	&__price {
		font-family: 'HelveticaNeueCyr-Bold';
		font-size: 22px;
		margin-bottom: 0px;
		display: inline-block;
		line-height: 35px;
		vertical-align: middle;
	}

	&__bottom {
		width: 100%;
		margin-top: 15px;
	}

	&__season {
		display: inline-block;
		float: left;
		width: 115px;
		font-size: 12px;
		line-height: 17px;
		font-family: 'HelveticaNeueCyr-Roman';

		b {
			color: $orange;
		}
	}

	&__quantity {
		display: inline-block;
		line-height: 35px;
		vertical-align: middle;
		float: right;
	}


	&__add-to-cart {
		display: inline-block;
		float: right;
		height: 32px;
		width: 70px;
		line-height: 15px;
		vertical-align: middle;
		background-color: $orange;
		border: 0;
		outline: none;
		cursor: pointer;
	}
}