@import "../common/common.scss";
@import "slick-carousel/slick/slick.scss";
@import "../common/_variables.scss";
@import "../common/_card.scss";

.product-info {

    &__title {
        font-size: 20px !important;
        font-family: "HelveticaNeueCyr-Heavy" !important;
    }

    &__brief {
        margin-top: 30px;
    }

    .brief {

        &__left, &__right {
            list-style: none;
        }
      
        &__param {
            color: #767676;
            font-family: "HelveticaNeueCyr-Roman" !important;
            font-size: 15px;
            
            b {
                color: $orange;
            }
        }
    }

    &__versatile-description {
        margin-top: 40px;
    }
}


.product-spoiler {

    @include media-breakpoint-down(lg) {
        margin: 0 auto;
    }

    .existense-status {

        &--in-stock {
            color: #09a80c;
            font-size: 15px !important;
            font-family: "HelveticaNeueCyr-Roman" !important;
        }
    }

    .existense-text {
        color: #767676;
        font-size: 13px !important;
        font-family: "HelveticaNeueCyr-MediumItalic" !important;
    }

    &__price {
        display: inline;
        font-size: 22px !important;
        font-family: "HelveticaNeueCyr-Bold" !important;
        line-height: 44px;
        vertical-align: middle;
    }
    
    &__is-fave {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        height: 25px;
    }

    &__add-to-cart{
        display: inline-block;
		height: 44px;
		vertical-align: middle;
		background-color: $orange;
		border: 0;
		outline: none;
        cursor: pointer;
        font-family: "HelveticaNeueCyr-Bold" !important;
        color: #fff;
        padding: 0 15px;
    }
}

.purchasing-parameters {

    &__quantity {
        text-align: left;

        input {
            height: 44px;
        }

        .quantity-nav {
            height: 44px;

            .quantity-button {
                line-height: 21px;
            }

            &::after {
                height: 44px;
            }
        }
    }

    .quantity::after {
        line-height: 44px;
    }
}

.product-photos-slider {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    .product-photo-item {
        text-align: center;
    }

    &__prev {
		content: url($newsArrowPrev);
		width: 20px;
		height: 37px;
		position: absolute;
		left: 70px;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		z-index: 3;

		@include media-breakpoint-down(xs) {
			left: -35px;
		}

		&:hover {
			content: url($newsArrowPrevActive);
		}
	}

	&__next {
		content: url($newsArrowNext);
		width: 20px;
		height: 37px;
		position: absolute;
		right: 70px;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		z-index: 3;

		@include media-breakpoint-down(xs) {
			right: -35px;
		}

		&:hover {
			content: url($newsArrowNextActive);
		}
    }
    
    .slick-slide img {
        display: initial;
    }
}

.slick-dots {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;

    li {
        display: inline-block;

        button {
            color: transparent;
            width: 10px;
            height: 10px;
            padding: 0;
            border: 0;
            background-color: $border-grey;
            cursor: pointer;
        }
    }

    .slick-active {
        button {
            background-color: $orange;
        }
    }

    li + li {
        margin-left: 10px;
    }
}

.navi-tabs {

    li.nav-item {

        .nav-link {
            font-size: 15px!important;
            text-transform: initial;
            color: #9b9b9b;
            font-family: "HelveticaNeueCyr-Bold" !important;

            &.active {
                color: #000;
            }
        }
    }
}

.gray-form {
	background-color: $light-grey;
    margin-top: 15px;
    padding: 40px 0;

    .description-text {
        padding: 0 95px;

        @include media-breakpoint-down(xs) {
			padding: 0px;
		}
    }
}

.similar-more {
    margin-top: 25px;
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 15px;
}

.similar-goods-header {
    margin-top: 60px;
    padding-left: 23px;
}

